.community {
  scroll-snap-align: start;
  height: 100vh;
  background-image: url(./images/story.jpeg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.community > figure {
  width: 23vw;
  height: 60vh;
  background-color: var(--primary);
  color: var(--background);
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
  background-size: 120%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

@media screen and (max-width: 1000px) {
  .community {
    flex-wrap: wrap;
    padding: 1rem;
    height: max-content;
  }

  .community > figure {
    width: 80vw;
    height: 80vh;
    font-size: 0.8rem;
  }
}

.community > figure > img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  object-position: top;
}

.community > figure > figcaption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  gap: 1rem;
}

.community > figure > figcaption > h3 {
  text-transform: uppercase;
}
