.nf-section-artists {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--nf-gap-vertical);
}

.nf-section-artists button {
  background-color: transparent;
  background: none;
  outline: none;
  border: none;
  filter: invert(80%);
  transform: scale(0.8);
}

.nf-section-artists input {
  border: var(--nf-border);
  border-radius: var(--nf-border-radius);
  padding: var(--nf-tag-padding);
  background-color: transparent;
  color: var(--nf-color-primary);
}
