.nf-layout-albums {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 200px;
  padding: var(--nf-horizontal-padding);
  grid-gap: var(--nf-gap-horizontal);
}
